{% extends 'base.html' %}
{% block content %}

<main role="main">
    <div class="jumbotron col-md-8 offset-md-2 text-left">
        <h1 style="color: white;">{{ post.title }}</h1>
        <small>
            {{ post.created_on.date }} |&nbsp;
            Categories:&nbsp;
            {% for category in post.categories.all %}
            <a href="{% url 'blog:blog_category' category.name %}">
                {{ category.name }}
            </a>&nbsp;
            {% endfor %}
        </small>
        <hr style="background-color: white;">
        <p>{{ post.body | linebreaks }}</p>
        <hr style="background-color: white;">
        <h3>Leave a comment:</h3>
        <form action="/blog/{{ post.pk }}/" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.author }}
            </div>
            <div class="form-group">
                {{ form.body }}
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #1b1b1d; border: 0;">Submit</button>
        </form>
        <hr style="background-color: white;">
        <h3>Comments:</h3>
        {% for comment in comments %}
        <p>
            On {{comment.created_on.date }}&nbsp;
            <b>{{ comment.author }}</b> wrote:
        </p>
        <p>{{ comment.body }}</p>
        <hr>
        {% endfor %}
    </div>
</main>

{% endblock %}