{% extends 'base.html' %}

{% load static %}

{% block content %}
<!--Introduction-->
<main role="main">
    <section class="text-center">
        <div class="container">
            <!--Project Picture-->
            <div class="text-center">
                <img src="{% static project.image %}" alt="{{ project.description }}" width="75%">
            </div>
            <!--//Project Picture-->
            <h1>{{ project.title }}</h1>
            <div>
                <p class="lead text-muted">{{ project.technology }}</p>
                <hr>
                <h5>About the project</h5>
                <p>{{ project.description }}</p>
            </div>
        </div>
    </section>
</main>
  <!--Introduction-->
{% endblock %}