{% extends 'base.html' %}

{% load static %}

{% block content %}
<!--Introduction-->
<main role="main">
    <section class="jumbotron">
            <!--Project Picture-->
            <div>
                <img class="img-fluid rounded" style="max-width: 100%; height: auto;" src="{% static project.image %}" alt="{{ project.description }}">
            </div>
            <!--//Project Picture-->
            <hr>
            <div class="text-left">
                <h1>{{ project.title }}</h1>
                <div>
                    <p class="lead text" style="color: rgba(255, 255, 255, .5);">{{ project.technology }}</p>
                    <hr style="background-color: white;">
                    <p>{{ project.description }}</p>
                </div>
            </div>
    </section>
</main>
  <!--Introduction-->
{% endblock %}